Xsd/Music.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Musics">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Music">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Song" type="xs:string" />
              <xs:element name="Path" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>