Xsd/Th.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ths">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Th">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Title" type="xs:string" />
              <xs:element name="Content" type="xs:string" />
              <xs:element name="Time">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Year" type="xs:unsignedShort" />
                    <xs:element name="Month" type="xs:unsignedByte" />
                    <xs:element name="Day" type="xs:unsignedByte" />
                    <xs:element name="Hour" type="xs:unsignedByte" />
                    <xs:element name="Min" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Music" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>